*{
	margin: 0;
	padding: 0;
}

fieldset input, fieldset textarea{
	float: right;
}

fieldset ul li{
	display: block;
}

.field1{
	width: 35%;
	padding: 1.5rem;
}

ul li{
	list-style: none;
	margin: 2rem 0;
}

textarea{
	height: 5rem;
	width: 25rem;
}

fieldset input{
	height: 2rem;
	width: 25rem;
}

.button{
	padding: 1.5rem 2rem;
}

